<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sky.mapper.SetmealMapper">
    <select id="getList" resultType="Setmeal">
        select id,
        category_id,
        name,
        price,
        status,
        description,
        image,
        create_time,
        update_time,
        create_user,
        update_user
        from setmeal
        <where>
            <trim prefixOverrides="AND">
                <if test="name!=null">AND name LIKE CONCAT('%', #{name}, '%')</if>
                <if test="categoryId!=null">AND category_id=#{categoryId}</if>
                <if test="status!=null">AND status=#{status}</if>
            </trim>
        </where>
    </select>
    <delete id="delSetmeal">
        delete
        from setmeal
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <update id="updateById">
        update setmeal
        <set>
            <if test="categoryId!=null">category_id=#{categoryId},</if>
            <if test="name!=null">name=#{name},</if>
            <if test="price!=null">price=#{price},</if>
            <if test="description!=null">description=#{description},</if>
            <if test="image!=null">image=#{image},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="createTime!=null">create_time=#{createTime},</if>
            <if test="updateTime!=null">update_time=#{updateTime},</if>
            <if test="createUser!=null">create_user=#{createUser},</if>
            <if test="updateUser!=null">update_user=#{updateUser}</if>
        </set>
        where id=#{id}
    </update>
</mapper>